.full {
  @apply relative h-[100vh] w-full overflow-auto;
  @apply flex items-center justify-center;

  & :global {
    .n-step-content__description {
      font-size: 10px;
    }
    .form-card {
      /* @apply !mt-8; */
    }
    .bg-image {
      @apply fixed bottom-0 left-0 right-0 top-0 overflow-hidden;

      &::before {
        background-image: var(--bg);
        content: '';

        @apply bottom-0 left-0 right-0 top-0;
        @apply bg-cover bg-center;
        @apply blur-md;
        @apply m-[-10px];
        @apply absolute bottom-0 left-0 right-0 top-0;
      }
    }
  }
}
