.wrapper {
  --w: 300px;
}

.sidebar {
  width: var(--w);

  @apply bg-gray-100;
}

.content {
  margin-left: var(--w);
}

.items {
  font-family: 'Josefin Sans';

  @apply px-4;
}

.has-child {
  transition: max-height 0.5s;
}
